<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <script src="{{ url_for('static', filename='javascript/bootstrap.js') }}"></script>
    <title>Naver</title>

</head>

<body style="background-color: #454d55; color: #fff">
    <table class="table table-dark table-striped">
        <tbody>
        <tr>
            <td> 번호 </td>
            <td> 제목 </td>
            <td> 작성자 </td>
            <td> 작성시각</td>
        </tr>
            
        
        {% for index in datas %}
       
            <tr>
                 
                <td> {{index.id}} </td>
                <td> <a href="/read?board={{board}}&pid={{index.id}}"> {{index.title}}
                    <span style="float:right">[{{index.comment_count}}] {{index.voteup_count}}</span></a></td>
                    
                <td> {{index.author}} </td>
                <td> {{index.time}}</td>

            </tr>
        
        {% endfor %}
        </tbody>
    </table>
    {% if page != 1 %}
        <a href="?board={{board}}&recommend={{recommend}}&page={{page-1}}">이전</a>
    {% endif %}
    <a href="?board={{board}}&recommend={{recommend}}&page={{page+1}}">다음</a>
</body>
</html>